
#title{
 text-align: left;
 display: flexbox;
 margin: 20px;
 padding-top: 10px ;
 font-size: 40px;

}
.search{
  position: absolute;
  right: 60px;
  bottom:90%;
}
.color{
    background-color: aqua;
    width: 100%;
    height: 65px;
}
body{
    background-color: rgba(152, 155, 158, 0.589);
    font-family: 'Play', sans-serif;
}
a{
    display: inline-block;
    margin: 30px;
    margin-right: 15px;
}
.shop{
    margin-top: 59px;
    margin-left: 27px;
}
hr{
   position: relative;
   width: 1100px;
   left:70px;
   bottom: 40px;
}